version: 2
updates:
  - package-ecosystem: cargo
    directory: "/"
    schedule:
      interval: daily
      time: "03:00"
    open-pull-requests-limit: 10
    assignees:
      - slowli

  - package-ecosystem: npm
    directory: "/e2e-tests/wasm"
    schedule:
      interval: daily
      time: "03:00"
    open-pull-requests-limit: 10
    assignees:
      - slowli
