[package]
name = "jwt-compact"
version = "0.2.0"
authors = [
  "Alex Ostrovski <ostrovski.alex@gmail.com>",
  "Akhil Velagapudi <akhilvelagapudi@gmail.com>",
  "Frank Denis <github@pureftpd.org>",
]
edition = "2018"
readme = "README.md"
license = "Apache-2.0"
keywords = ["JWT", "token", "authorization"]
categories = ["web-programming", "cryptography", "no-std"]
description = "Minimalistic JWT implementation with focus on type safety and secure cryptographic primitives"
repository = "https://github.com/slowli/jwt-compact"

exclude = ["e2e-tests"]

[package.metadata.docs.rs]
# Enable non-conflicting additional algorithms in documentation on `docs.rs`.
features = ["es256k", "rsa"]
# Set `docsrs` to enable unstable `doc(cfg(...))` attributes.
rustc-args = ["--cfg", "docsrs"]

[dependencies]
# Public dependencies (present in the public API).
anyhow = { version = "1.0.28", default-features = false }
base64 = { version = "0.13.0", default-features = false, features = ["alloc"] }
chrono = { version = "0.4.11", default-features = false }
rand_core = "0.5.1"
serde = { version = "1.0", default-features = false, features = ["alloc", "derive"] }
serde_cbor = { version = "0.11.1", default-features = false, features = ["alloc"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }

# Crypto backends (all public dependencies).
hmac = "0.10.1"
sha2 = { version = "0.9.0", default-features = false }
secp256k1 = { version = "0.19.0", optional = true }

# Private dependencies (not exposed in the public API).
lazy_static = { version = "1.4.0", optional = true }
smallvec = "1.4.0"
zeroize = { version = "1.1", features = ["zeroize_derive"] }

# `exonum-crypto` backend (public dependency).
[dependencies.exonum-crypto]
version = "1.0.0"
default-features = false
features = ["sodiumoxide-crypto"]
optional = true

[dependencies.ed25519-dalek]
version = "1.0.1"
optional = true
default-features = false
features = ["u64_backend", "rand"]

[dependencies.ed25519-compact]
version = "0.1.9"
optional = true
default-features = false
features = ["random"]

[dependencies.rsa]
version = "0.3"
optional = true

[dev-dependencies]
assert_matches = "1.3"
hex = "0.4.2"
hex-buffer-serde = { version = "0.2.0", default-features = false }
rand = "0.7.3"

[features]
default = ["std", "clock", "exonum-crypto"]
# `secp256k1` crypto backend; `lazy_static` is required for internal initialization.
es256k = ["secp256k1", "lazy_static"]
# Enables `std`-specific functionality (such as error types implementing
# the standard `Error` trait).
std = ["anyhow/std", "base64/std", "serde/std", "serde_cbor/std"]
# Enables getting the current time using `Utc::now()` from `chrono`.
# Without it, some `TimeOptions` constructors, such as the `Default` impl,
# are not available. It is still possible to create `TimeOptions`
# with an excplicitly specified clock function, or to set / verify
# time-related `Claims` fields manually.
clock = ["chrono/clock"]

[workspace]
members = [".", "e2e-tests/wasm"]
exclude = ["e2e-tests/no-std"] # including leads to compilation errors for the no-std crate
